<title>Chittu TDD Kit</title>

<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">

<div class="container" id="main_screen">
    
    <div class="row">
        <div class="col-sm-6 text-left">
            <table class="table">
                <tr>
                    <td class="text-center">
                        Test Configuration
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>choose the test suites you want to run</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type"> Unit Test
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type"> Acceptance Test
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type"> Functional Test
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <b>Run tests as you type (useful for TDD)</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox"> Automatically run tests on file change
                    </td>
                </tr>
            </table>
            
        </div>
        <div class="col-sm-6">

            <table class="table">
                <tr>
                    <td class="text-center">
                        Path Configuration
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text bg-light">PHP Binary Path</span>
                            </div>
                            <input type="text" class="form-control"  v-model="preferences.php_binary_file">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" @click="chooseBinaryFile('php')">Browse</button>
                            </div>
                        </div>
                    </td>
                </tr>     
                <tr>
                    <td>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text bg-light">Codcept Binary Path</span>
                                </div>
                                <input type="text" class="form-control"  v-model="preferences.codeception_binary_file">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" @click="chooseBinaryFile('codecept')">Browse</button>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>        

                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text bg-light">Your Project Root</span>
                                </div>
                                <input type="text" class="form-control" v-model="preferences.project_root">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" @click="chooseProjectFolder()">Browse</button>
                                </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <br/>
            <button class="btn btn-primary" @click="runTests()">Run Tests</button>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
        </div>
        <div class="col-sm-6">
            <br/>
            <table class="table table-striped">
                <tr><th>Failed Tests</th></tr>
            </table>
        </div>
</div>

</div>

<script src="./node_modules/vue/dist/vue.js"></script>
<script>
const {dialog} = require('electron').remote;

const fs = require('fs')
const Store = require('electron-store');
const store = new Store();

function getData() {
    var result = store.get('preferences')
    if (result == undefined) {
        return {
            php_binary_file: "",
            codeception_binary_file: "",
            project_root: "",
        }
    }
    else {
        return result
    }
}


new Vue({
    el: "#main_screen",
    data: {
        preferences:getData(),
    },
    watch: {
        preferences: {
            handler: function (val, oldVal) {
                store.set("preferences", val)
            },
            deep: true
        }
    },
    methods: {
        isFileOrFolder(path) {

            if (fs.existsSync(path)) {
                return true
            }
            else {
                alert(path + " is not a valid path")
                return false
            }

        },
        runTests() {
            
            if (this.preferences.php_binary_file != "" &&
            this.preferences.codeception_binary_file != "" && 
            this.preferences.project_root != "")
            {

                if (this.isFileOrFolder(this.preferences.php_binary_file) 
                && this.isFileOrFolder(this.preferences.codeception_binary_file)
                && this.isFileOrFolder(this.preferences.project_root)) {
                    var shell_command = "cd " + this.preferences.project_root + " && "
                    shell_command += this.preferences.php_binary_file + " " + this.preferences.codeception_binary_file
                    shell_command += " run unit"
                    let spawn = require("child_process").spawn;

                    const exec = require('child_process').exec;
                    const child = exec(shell_command,
                        (error, stdout, stderr) => {
                            console.log(`stdout: ${stdout}`);
                            console.log(`stderr: ${stderr}`);
                            if (error !== null) {
                                console.log(`exec error: ${error}`);
                            }
                    });
                }
            }
            else {
                alert("fill the path fields")
            }
        },

        chooseProjectFolder() {
            let options = {
                properties: ['openDirectory'],
            }
            let folderPromise = dialog.showOpenDialog(options)
            const self = this
            folderPromise.then(function(folderObject) {
                let folderPaths = folderObject.filePaths
                const choosen_folder_path = folderPaths[0]
                self.preferences.project_root = choosen_folder_path
            })

        },

        chooseBinaryFile(type) {
            let options = {
                properties:['openFile'],
                filters:[
                    {name: 'Binary File', extensions: ['*']}
                ],
            }

            let filePromise = dialog.showOpenDialog(options)
            const self = this
            filePromise.then(function(fileObject) {
                let filePaths = fileObject.filePaths
                if (filePaths.length > 0) {
                    const choosen_file_path = filePaths[0]
                    if (type == "php") {
                        self.preferences.php_binary_file = choosen_file_path
                    }
                    else {
                        self.preferences.codeception_binary_file = choosen_file_path
                    }
                }
            })
        }

    }
})


</script>