<title>Chittu TDD Kit</title>

<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">

<div class="container" id="main_screen">
    
    <div class="row">
        <div class="col-sm-6 text-left bg-light">
            <table class="table table-borderless">
                <tr>
                    <td class="text-center">
                        Test Configuration
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>choose the test suites you want to run</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type" v-model="preferences.is_unit_enabled"  :disabled="isWatchingDirectory == true"> Unit Test
                    </td>
                </tr>
            
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type" v-model="preferences.is_acceptance_enabled"  :disabled="isWatchingDirectory == true"> Acceptance Test
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <input type="checkbox" value="unit" name="test_type" v-model="preferences.is_functional_enabled"  :disabled="isWatchingDirectory == true"> Functional Test
                    </td>
                </tr>
        
            </table>
            
        </div>
        <div class="col-sm-6 bg-light">

            <table class="table table-borderless">
                <tr>
                    <td class="text-center">
                        Path Configuration
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text bg-light">PHP Binary Path</span>
                            </div>
                            <input type="text" class="form-control"  v-model="preferences.php_binary_file" :disabled="isWatchingDirectory == true">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" @click="chooseBinaryFile('php')">Browse</button>
                            </div>
                        </div>
                    </td>
                </tr>     
                <tr>
                    <td>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text bg-light">Codcept Binary Path</span>
                                </div>
                                <input type="text" class="form-control"  v-model="preferences.codeception_binary_file" :disabled="isWatchingDirectory == true">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" @click="chooseBinaryFile('codecept')">Browse</button>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>        

                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text bg-light">Your Project Root</span>
                                </div>
                                <input type="text" class="form-control" v-model="preferences.project_root" :disabled="isWatchingDirectory == true">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" @click="chooseProjectFolder()">Browse</button>
                                </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            
            <template v-if="isTestRunning">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
            </template>
            <template v-if="isWatchingDirectory">
                <div class="alert alert-info">
                    Currently watching  {{ this.preferences.project_root }} for file changes, the tests will
                    run automatically if file change is detected
                </div>
            </template>
            <br/>
            <button class="btn btn-primary btn-lg" @click="runTests()" :disabled="isTestRunning == true || isWatchingDirectory == true">
                
                <template v-if="isTestRunning">
                    Tests Running ...
                </template>
                <template v-else>
                    <i class="fa fa-play"></i> Run Tests
                </template>



            </button>

            <button class="btn btn-lg btn-dark" @click="watchDirectory()">
                
                    <template v-if="isWatchingDirectory">
                            <i class="fa fa-lg fa-eye-slash"></i> Stop Watching<br/>
                            
                    </template>
                    <template v-else>
                        <i class="fa fa-lg fa-eye"></i> Watch Project Directory<br/>
    
                    </template>
    
                </button>



            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <template v-if="preferences.failed_tests.length > 0">
                    <table class="table table-borderless">
                        
                        <tr>
                            <th>Failed Tests</th>
                            <th>Test Name</th>
                        </tr>
                        <template v-for="item in preferences.failed_tests">
                            <tr>
                                <td>
                                    <img class="img img-rounded" src="failure.png" height="16px" width="16px">
                                </td>
                                <td>
                                    <b>{{ item }}</b>
                                </td>
                            </tr>
                        </template>
                    </table>
            </template>
            <template v-else>
                <div class="text-center">
                    <h3>
                        <img class="img img-rounded" src="success.png" height="32px" width="32px">
                         No Tests Failed
                    </h3>
                </div>
            </template>

        </div>
</div>

</div>

<script src="./node_modules/vue/dist/vue.js"></script>
<script>
const {dialog} = require('electron').remote;
const path = require('path')

const fs = require('fs')
const Store = require('electron-store');
const store = new Store();
var watch = require('node-watch');
var watcher = null
// method to store and fetch the path data
function getData() {
    var result = store.get('preferences')
    if (result == undefined) {
        return {
            php_binary_file: "",
            codeception_binary_file: "",
            project_root: "",
            failed_tests: [],
            is_unit_enabled: false,
            is_acceptance_enabled: false,
            is_functional_enabled: false,
        }
    }
    else {
        return result
    }
}

// make a bus to emit events
const main_bus = new Vue({})


new Vue({
    el: "#main_screen",
    data: {
        preferences:getData(),
        isTestRunning: false,
        isWatchingDirectory: false,
        
    },
    watch: {
        preferences: {
            handler: function (val, oldVal) {
                store.set("preferences", val)
            },
            deep: true
        }
    },
    methods: {
        watchDirectory() {
            if (this.allPathsAreNotEmpty() && this.checkAtleastOneTestTypeEnabled())
            {
                if (this.validatePaths()) {
                    if (this.isWatchingDirectory) {
                        watcher.close()
                        this.isWatchingDirectory = false
                    }
                    else {
                        const self = this
                        this.isWatchingDirectory = true
                        watcher  = watch(this.preferences.project_root, { filter: /\.php$/, recursive: true }, function(evt, name) {
                            
                            if (!this.isTestRunning) {
                                self.runTests()
                            }
                            
                        });
                    }
                   

                }
            }
        },
        isFileOrFolder(path) {

            if (fs.existsSync(path)) {
                return true
            }
            else {
                alert(path + " is not a valid path")
                return false
            }

        },

        validateProjectRoot(root) {
            const output_dir = path.join(root, "tests", "_output")
            if (fs.existsSync(output_dir)) {
                return true
            }
            else {
                alert(root + " does not have codeception tests," +
                "please initialise codeception and then choose the project folder")
                return false
            }
            
        },

        validatePaths() {
            return this.isFileOrFolder(this.preferences.php_binary_file) 
                && this.isFileOrFolder(this.preferences.codeception_binary_file)
                && this.validateProjectRoot(this.preferences.project_root)
        },
        allPathsAreNotEmpty() {
            return this.preferences.php_binary_file != "" &&
            this.preferences.codeception_binary_file != "" && 
            this.preferences.project_root != ""
        },
        checkAtleastOneTestTypeEnabled() {
            return (this.preferences.is_unit_enabled || 
            this.preferences.is_functional_enabled || 
            this.preferences.is_acceptance_enabled)
        },
        constructShellCommand() {
            var shell_command = "cd " + this.preferences.project_root + " && "
            shell_command += this.preferences.php_binary_file + " " + this.preferences.codeception_binary_file
            shell_command += " run "
            if (this.preferences.is_unit_enabled) {
                shell_command += "unit"
            }
            if (this.preferences.is_functional_enabled){
                shell_command += ",functional"
            }
            if (this.preferences.is_acceptance_enabled){
                shell_command += ",acceptance"
            }
            return shell_command
        },
        sendSuccessNotification(message) {
            var options = {
                body: message,
                icon: 'success.png'
            }
            var n = new Notification("success",options);
        },

        sendFailureNotification(message) {
            var options = {
                body: message,
                icon: 'failure.png'
            }
            var n = new Notification("Failure",options);
        },

        checkIfTestsFailedAndSendNotification() {
            // remove failed tests array
            Vue.set(this.preferences, "failed_tests", [])
            const failed_file = path.join(this.preferences.project_root, "tests", "_output", "failed")
            if (fs.existsSync(failed_file)) {
                const failed_tests_array = []
                // tests failed, so read the file line by line and send failed notification
                fs.readFileSync(failed_file, 'utf-8').split(/\r?\n/).forEach(function(line){
                    failed_tests_array.push(line)
                })
                this.sendFailureNotification(failed_tests_array.length + " tests failed")
                Vue.set(this.preferences, "failed_tests", failed_tests_array)
            }
            else {
                this.sendSuccessNotification("All tests passed")
            }
        },

        runTests() {
            
            if (this.allPathsAreNotEmpty())
            {
                if (this.validatePaths()) {

                    if (this.checkAtleastOneTestTypeEnabled()) {
                        const exec = require('child_process').exec;
                        this.isTestRunning = true
                        const child = exec(this.constructShellCommand(),
                            (error, stdout, stderr) => {
                                this.isTestRunning = false
                                this.checkIfTestsFailedAndSendNotification()
                                
                        });
                    }
                    else {
                        alert("Choose alteast one test type")
                    }
                }
            }
            else {
                alert("fill the path fields")
            }
        },

        chooseProjectFolder() {
            let options = {
                properties: ['openDirectory'],
            }
            let folderPromise = dialog.showOpenDialog(options)
            const self = this
            folderPromise.then(function(folderObject) {
                let folderPaths = folderObject.filePaths
                const choosen_folder_path = folderPaths[0]
                self.preferences.project_root = choosen_folder_path
            })

        },

        chooseBinaryFile(type) {
            let options = {
                properties:['openFile'],
                filters:[
                    {name: 'Binary File', extensions: ['*']}
                ],
            }

            let filePromise = dialog.showOpenDialog(options)
            const self = this
            filePromise.then(function(fileObject) {
                let filePaths = fileObject.filePaths
                if (filePaths.length > 0) {
                    const choosen_file_path = filePaths[0]
                    if (type == "php") {
                        self.preferences.php_binary_file = choosen_file_path
                    }
                    else {
                        self.preferences.codeception_binary_file = choosen_file_path
                    }
                }
            })
        }

    }
})


</script>